.discount-calculator {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.glassmorphism {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25), -20px -20px 50px rgba(255, 255, 255, 0.15);
  overflow: hidden;
  margin: 20px;
}

.glassmorphism .circle {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 0.5;
}

.glassmorphism .circle:nth-of-type(1) {
  top: -50px;
  right: -50px;
}

.glassmorphism .circle:nth-of-type(2) {
  bottom: -50px;
  left: -50px;
}

.container {
  display: flex;

}

.calculate-btn {
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #00aae4, #51d1f6);
  color: #333333;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  margin: 2%;
}

.calculate-btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  font-weight: bolder;
}

.input {
  font-size: 25px;
  padding: 10px;
  width: 80%;
  margin: 2%;
  font-weight: bold;
  border-radius: 10px;
}

.icono {
  max-width: 40%;
  margin: 1%;
}